In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# Series

In [2]:
series_obj1 = Series([2,3,4,6,9,10,15])

In [3]:
series_obj1

0     2
1     3
2     4
3     6
4     9
5    10
6    15
dtype: int64

In [8]:
series_obj2 = Series([2,3,4,6,9,10,15],index=['row0','row1','row2','row3','row4','row5','row6'])

In [10]:
series_obj2

row0     2
row1     3
row2     4
row3     6
row4     9
row5    10
row6    15
dtype: int64

# Selecting and Retrieving data from object

In [12]:
series_obj2['row3'] # select the data with index

6

In [15]:
series_obj2[3:5] #slicing operator,start index and end index

row3    6
row4    9
dtype: int64

In [17]:
series_obj1[[2,4,6]]

2     4
4     9
6    15
dtype: int64

In [18]:
series_obj1

0     2
1     3
2     4
3     6
4     9
5    10
6    15
dtype: int64

# DataFrame

In [20]:
np.floor(np.random.rand(36).reshape(6,6)*100)

array([[38., 88., 89., 32., 84., 64.],
       [10., 33., 82., 91., 70., 90.],
       [41., 48., 47., 65., 67., 62.],
       [19., 79., 28., 59., 29., 26.],
       [33., 50., 62., 14., 56., 78.],
       [48., 39., 74., 85., 80., 99.]])

In [21]:
df_obj1  = DataFrame(np.floor(np.random.rand(36).reshape(6,6)*100))

In [22]:
df_obj1

      0     1     2     3     4     5
0  26.0  92.0  47.0  38.0   6.0  42.0
1  69.0  52.0  93.0  41.0  22.0  92.0
2   3.0   3.0  11.0  44.0  54.0  67.0
3  49.0  55.0  52.0  48.0  46.0  79.0
4  88.0  13.0  93.0  15.0  59.0  40.0
5  14.0  95.0  83.0  45.0  38.0   0.0

In [29]:
ind = ['row_0','row_1','row_2','row_3','row_4','row_5']
col = ['col_0','col_1','col_2','col_3','col4','col_5']

In [30]:
ind

['row_0', 'row_1', 'row_2', 'row_3', 'row_4', 'row_5']

In [31]:
col

['col_0', 'col_1', 'col_2', 'col_3', 'col4', 'col_5']

In [32]:
df_obj2  = DataFrame(np.floor(np.random.rand(36).reshape(6,6)*100),index=ind,columns=col)

In [33]:
df_obj2

       col_0  col_1  col_2  col_3  col4  col_5
row_0   96.0   39.0   40.0   24.0  51.0   50.0
row_1   98.0   99.0   51.0   30.0  23.0    0.0
row_2   24.0   86.0   34.0   77.0  22.0   41.0
row_3   87.0   34.0   84.0   93.0  87.0   29.0
row_4   42.0   73.0   56.0   41.0  69.0   80.0
row_5   86.0   44.0   27.0   36.0  53.0    3.0

In [34]:
df_obj2.loc['row_3','col_2'] #using loc selecting the particular row and column

84.0

In [38]:
df_obj2.loc[['row_3','row_2'],['col_2','col_3']]  # for selecting the multiple rows

       col_2  col_3
row_3   84.0   93.0
row_2   34.0   77.0

In [41]:
df_obj2.iloc[2,3]

77.0

In [42]:
df_obj2.loc[:,'col_3':]

       col_3  col4  col_5
row_0   24.0  51.0   50.0
row_1   30.0  23.0    0.0
row_2   77.0  22.0   41.0
row_3   93.0  87.0   29.0
row_4   41.0  69.0   80.0
row_5   36.0  53.0    3.0